@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: aliceblue;
}

.header-container {
  display: flex;
  max-width: 100%;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: black;
}

.header-logo {
  font-size: 2rem;
}

.header-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container li {
  margin-right: 1rem;
}

.highlight {
  margin-right: 1rem;
  background-color: #00c2ff;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem;
  background-image: url("https://i.pinimg.com/originals/5d/4d/b6/5d4db6e517a689e87c4266f61d77f803.png");
  background-size: cover;
  background-position: center center;
}

main h1 {
  color: #00c2ff;
}
